<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
@loggedIn
<script>
  window.location.replace("{{route('dashboard')}}");
</script>
@else
<script>
  window.location.replace("{{route('login')}}");
</script>
@endloggedIn
<body>
<section>
  <div class="logo"></div>
  <div class="title"></div>
  <div class="subtitle">
    <p>AdonisJs simplicity will make you feel confident about your code</p>
    <p>
      Don't know where to start? Read the <a href="https://adonisjs.com/docs">documentation</a>.
    </p>
  </div>
</section>
</body>
</html>
