HOST=127.0.0.1
PORT=3333
NODE_ENV=development
APP_URL=http://${HOST}:${PORT}
CACHE_VIEWS=false
APP_KEY=IauLTgZNpu5AaPY98dSaoEc82CHlrMp7
DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=cimb_staging
SESSION_DRIVER=cookie
HASH_DRIVER=bcrypt
RECAPTCHA_SITE_KEY=6LdeVuIbAAAAABi6aJ98EBnMlQX0nQ5h7aE-0fzX
RECAPTCHA_SECRET=6LdeVuIbAAAAABl91DNCqpEG5QqP2zUJCya1K8gB
FCM_SERVER_KEY=AAAAc4pnEiA:APA91bH0-Y3zHuEKZHUftZsXgtA92gcTJSimUB3znC3DpAbjIjrUYM5Zx5_1SWq0CBfHPt1so3P9t8auQFnuPw4FJNP60mxB-OVxCNefAyNq97TnKmMiJ4_v_xY8ymbwD2sx46jxqG8q
FCM_SENDER_ID=496243249696
LIMIT_ROWS = 200
