<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>LoG DeepLink</title>
    <link rel="stylesheet" type="text/css" href="{{ BASE_URL() }}/vendor/assets/deeplink/css/style.css" />
</head>

<body>
    <div class="container">
        <img class="ops" src="{{ BASE_URL() }}/vendor/assets/deeplink/images/404.png" style="max-height: 300px" />
        <br />
        <h3>Page tidak dapat dibuka melalui desktop browser.
            <br>Yuk, lanjutkan pembelajaranmu di aplikasi LoG.
        </h3>
        <br />
        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.cimbniaga.log"><img src="{{ BASE_URL() }}/vendor/assets/deeplink/images/playstore.svg" style="height: 62px; margin-right: 8px"></a>

        <a target="_blank" href="https://apps.apple.com/id/app/cimb-niaga-log/id1272974156"><img src="{{ BASE_URL() }}/vendor/assets/deeplink/images/appstore.svg" style="height: 60px; margin-left: 8px"></a>
    </div>
</body>

</html>