<html>
    <body>
        <div style="background-color:#C92B2B;height: 50px;"></div>
        <div style="text-align:center">
			<img src="{{ urlImage }}" style="width:209px;height:197px">
            <h2 style="color:#646464">{{ new_password }}</h2>
        </div>
        <div>
            <p style="color:#646464">
                This is your temporary password. Please use this code to login then proceed to changing your new password.
            </p>
        </div>
        <br>
        <div>
            <p style="color:#646464">
                Regards,<br><br>{{ team }}
            </p>
        </div>
        <div style="background-color:#C92B2B;height: 50px;"></div>
    </body>
</html>