<footer class="footer" style="left: 0; position: fixed; margin: 0px; margin-top: 20px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
      </div>
      <div class="col-md-2" id="footer-text">
        <script>
          console.log(dataThemes);
          document.write(dataThemes.footer ?  dataThemes.footer : "2021 &copy; digima ASIA");
        </script>
      </div>
    </div>
  </div>
</footer>
